<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Manish Rai Jain">

    <link rel="" href="/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/dgraph-favicon.png" sizes="any" type="image/png">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,400,100,300,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/color-red-medium.css" type="text/css">

    <title>DGraph - Scalable, Distributed, Low Latency, High Throughput Graph Database</title>

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
<div class="overlay"></div>

<div class="page-wrapper">

    <section class="hero-slider has-parallax">
        <div class="heading-wrapper">
            <div class="inner">
                <div class="caption position-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="block x-va-middle">
                                    <div class="block-content">
                                        <div class="caption-text animate from-bottom">
                                            <div class="block-content">
                                                <h1 class="font-color-white">DGraph</h1>
                                                <h2 class="font-color-white">Scalable, Distributed, Low Latency, High Throughput Graph Database.</h2>
                                            </div>
                                        </div>

                                        <p class="font-color-white caption-text bg-dark">
Play with <a href="http://www.freebase.com/film">21M facts from Freebase Film Data</a> loaded up on demo DGraph instance, via <a href="https://github.com/facebook/graphql">GraphQL</a> in real time.
                                        </p>

                                        <div class="codepen animate from-bottom ng-cloak" ng-app="darthGraph" ng-controller="GraphMagic">

                                            <ul class=querytabs>
                                                <li ng-repeat='tab in examples' ng-click='activate($index)' class="{{tab.active ? 'active' : ''}}">
                                                    <button ng-click='activate($index)'>{{ tab.title}}</button>
                                                </li>
                                            </ul>

                                            <div class=query>
                                                <h2>graphql query</h2>
                                                <div class="root-id">
                                                    me:
                                                    <input type="text"
                                                           ng-model="typeahead_root_id"
                                                           typeahead="x.name for x in typeahead_cache | filter:$viewValue | limitTo:8"
                                                           typeahead-editable="false"
                                                           select-on-click
                                                           />
                                                </div>
                                                <div ui-ace="{
                                                       useWrapMode : true,
                                                       showGutter: false,
                                                       theme:'tomorrow_night_eighties',
                                                       mode: 'javascript',
                                                       onLoad: queryEditorLoaded,
                                                       require: ['ace/ext/language_tools'],
                                                       advanced: {
                                                           enableSnippets: true,
                                                           enableBasicAutocompletion: true,
                                                           enableLiveAutocompletion: true
                                                       },
                                                     }"
                                                     ng-model="active_tab.code" class=editor></div>
                                                <div class=float>
                                                    <!-- <button class="positive">Run Query</button> -->
                                                    <button ng-click="reset_example_code()" class="danger" ng-class="{hidden: active_tab.code == active_tab.sample_code}">Undo Changes</button>
                                                </div>
                                            </div>

                                            <div class=result>
                                                <span class='spinner' ng-show="isNetPending()">
                                                    <i class="fa fa-spinner icon-myspin"></i>
                                                    Processing...
                                                </span>
                                                <table class="latencycontainer" ng-hide="isNetPending()">
                                                    <tr class="entities">
                                                        <td>Entities found</td>
                                                        <td>:</td>
                                                        <td>{{latency_data.entity_count}}</td>
                                                    </tr>
                                                    <tr class="total">
                                                        <td>Server latency</td>
                                                        <td>:</td>
                                                        <td>{{ latency_data.total }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="processing">Processing</td>
                                                        <td>:</td>
                                                        <td>{{latency_data.processing}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="jsongen">JSON Conversion</td>
                                                        <td>:</td>
                                                        <td>{{latency_data.json}}</td>
                                                    </tr>
                                                </table>
                                                <div class="tabcontainer">
                                                    <h2 class="resulttab"
                                                        ng-class="{active: result_json}"
                                                        ng-click="result_json=true">
                                                        json
                                                    </h2>
                                                    <h2 class="resulttab"
                                                        ng-class="{active:!result_json}"
                                                        ng-click="result_json=false">
                                                        tree
                                                    </h2>
                                                </div>
                                                <div ui-ace="{
                                                        useWrapMode : true,
                                                        showGutter: false,
                                                        readOnly: true,
                                                        theme:'tomorrow_night_eighties',
                                                        mode: 'javascript',
                                                     }"
                                                     readonly
                                                     ng-model="json_result"
                                                     ng-show="result_json"
                                                     class=editor></div>
                                                <div class="tree" ng-if="!result_json">
                                                    <tree obj="query_result" expanded="true"></tree>
                                                    <div ng-if="!query_result">query result is not available</div>
                                                </div>
                                                <div ng-if="had_network_error" style="color:#f2777a">Error talking to server</div>
                                            </div>

                                            <script type="text/ng-template" id="tree_node.html">
                                                <div ng-if="obj" class="treenode">
                                                    <div class="title" ng-click="expanded=!expanded">
                                                        {{summary.title}}
                                                    </div>
                                                    <div ng-if="expanded" ng-repeat="field in fields" class="field">
                                                        <div class="key">{{field.key}}</div>
                                                        <div class="atomvalue"> {{field.value}}</div>
                                                        <div class="objvalue">
                                                            <tree ng-if="field.subobj" obj="field.subobj" expanded="false"></tree>
                                                            <div ng-if="field.array">
                                                                <div class="arraysummary"
                                                                     ng-if="!field.expanded"
                                                                     ng-click="field.expanded=true">
                                                                    <i class="fa fa-plus-circle"></i>
                                                                    {{field.array.length}} item{{field.array.length!=1?'s':''}}
                                                                </div>
                                                                <div ng-if="field.expanded">
                                                                    <div class="arrayoutline" ng-click="field.expanded=false">
                                                                        <i class="fa fa-minus-circle"></i>
                                                                        {{field.array.length}} item{{field.array.length!=1?'s':''}}
                                                                    </div>
                                                                    <table>
                                                                        <tr ng-repeat="el in field.array track by el._uid_">
                                                                            <td>{{$index}}&nbsp;</td>
                                                                            <td>
                                                                                <tree
                                                                                      ng-class-odd='"odd"'
                                                                                      obj="el"
                                                                                      expanded="false"></tree>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </script>
                                        </div> <!-- /codepen -->

                                        <!--<div class="buttonrow animate from-bottom">-->
                                            <!--<a href="#boxes" class="btn btn-framed btn-light btn-default btn-xl roll">View More</a>-->
                                        <!--</div>-->

                                        <!--/ .animate-->
                                    </div>
                                    <!--/ .block-content-->
                                </div>
                                <!--/ .block-->
                            </div>
                            <!--/ .col-md-8-->
                        </div>
                        <!--/ .row-->
                    </div>
                    <!--/ .container-->
                </div>
                <!--/ .heading-->
            </div>
            <!--/ .inner-->
        </div>
        <!--/ .heading-wrapper-->
    </section>
    <!--/ .hero-slider-->

    <section class="block-wrapper" id="boxes">
        <div class="container">
            <div class="block bg-dark bg-opacity-80 bg-expand-both x-va-middle">
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="box-icon">
                                <i class="icon_clock_alt"></i>
                                <h3>Low Latency, High Throughput</h3>
                                <p>
                                    Storage layer of DGraph is designed for efficient retrieval,
                                    it offers low enough latency to be serving real time user queries, over terabytes of structured data.
                                </p>
                            </div>
                            <!--/ .box-icon-->
                        </div>
                        <!--/ .col-md-4 col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box-icon">
                                <i class="icon_flowchart"></i>
                                <h3>Distributed and Scalable</h3>
                                <p>
                                    Easily scale to multiple machines, or datacenters.
                                    DGraph's sharded storage and query processing were specifically designed to minimize the number of network calls.
                                </p>
                            </div>
                            <!--/ .box-icon-->
                        </div>
                        <!--/ .col-md-4 col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="box-icon">
                                <i class="icon_lightbulb_alt"></i>
                                <h3>Open Source</h3>
                                <p>
                                    DGraph is available under a very liberal Apache License 2.0.
                                </p>
                            </div>
                            <!--/ .box-icon-->
                        </div>
                        <!--/ .col-md-4 col-sm-4-->
                    </div>
                    <!--/ .row-->
                    <div class="bg"></div>
                    <!--/ .bg-->
                </div>
                <!--/ .block-content-->
            </div>
            <!--/ .block-->
        </div>
        <!--/ .container-->
    </section>
    <!--/ .block-wrapper-->

    <section class="block-wrapper" id="features">
        <div class="container">
            <div class="block bg-light bg-expand-both no-bottom-padding">
                <div class="block-content">
                    <h2 class="center">Find out more</h2>

                    <div class="buttonrow animate idle from-bottom">
                        <a href="https://github.com/dgraph-io/dgraph"
                           class="btn btn-framed btn-light btn-default btn-xl roll">
                            <i class="fa fa-github text-color-dark"></i>
                            View on Github
                        </a>

                        <a href="https://gitter.im/dgraph-io/dgraph"
                           class="btn btn-framed btn-light btn-default btn-xl roll">
                            <img class="img-icon" src="assets/img/gitter.svg">
                            Discuss on Gitter
                        </a>
                    </div>
                </div>
                <!--/ .block-content-->
            </div>
            <!--/ .block-->
        </div>
        <!--/ .container-->
    </section>
    <!--/ .block-wrapper-->

</div>

<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js"></script>
<!--<script src="bower_components/ace-builds/src/ace.js"></script>-->
<!--<script src="bower_components/ace-builds/src/ext-language_tools.js"></script>-->

<script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<script src="typeahead.js"></script>

<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="/assets/js/readmore.min.js"></script>
<script type="text/javascript" src="/assets/js/pace.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.countTo.js"></script>

<script type="text/javascript" src="/assets/js/custom.js"></script>

<link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.min.css">

</body>
