.social {
  margin-top: 20px;
}
.social a {
  width: 30px;
  display: inline-block;
  height: 30px;
  background-color: #fff;
  margin: 0 2px;
  border-radius: 50%;
  line-height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.social .linkedin {
  background-color: #287bbc;
}
.social i {
  font-size: inherit;
  margin-left: 8px;
  top: -2px;
}
.social .fa-linkedin {
  color: white;
  margin-left: 9px;
}
.social .fa-twitter {
  color: #3B94D9;
  top: -1px;
}
.modal-dialog {
  width: 80%;
}
.modal-dialog .modal-body {
  background-color: white;
}
.modal-dialog .modal-body img {
  max-width: 300px;
}
.modal-dialog .modal-body .name h1 {
  margin-top: 0px;
}
nav {
  margin-top: 20px;
  display: none;
}
#team .block-content {
  padding: 20px;
}
#team h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}
#team img {
  height: 200px;
}
#team p {
  font-size: 15px;
}
#team .box-icon {
  text-transform: none;
}
#team .desc {
  display: none;
}
#team .social {
  display: none;
}
#jobs .block-content {
  padding: 20px 0px;
}
#jobs h4 {
  margin-bottom: 40px;
}
#jobs h4 a {
  font-weight: inherit;
  font-size: inherit;
}
#jobs .box-icon p {
  font-size: 14px;
}
#jobs .box-icon i {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.codepen {
  border: 1px solid #222;
  background-color: #2d2d2d;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px rgba(48, 48, 48, 0.5);
  color: #999;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.codepen.ng-cloak {
  display: none !important;
}
.codepen button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  margin: 0;
  padding: 0;
  font-size: 12px;
  outline: none;
}
.codepen ul.querytabs {
  list-style: none;
  width: 180px;
  margin: 0;
  padding: 20px 0 20px 10px;
  display: table-cell;
  background-color: #272727;
  border-right: 4px solid #222;
}
.codepen ul.querytabs li {
  margin: 4px 0;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.codepen ul.querytabs li.active {
  background: #393939;
}
.codepen .query,
.codepen .result {
  display: flex;
  min-height: 50vh;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2d2d2d;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.codepen .query h2,
.codepen .result h2 {
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 2px;
}
.codepen .query .float,
.codepen .result .float {
  position: absolute;
  bottom: 10px;
  left: 16px;
  z-index: 1000;
}
.codepen .query .float button,
.codepen .result .float button {
  background-color: #999999;
  border-radius: 4px;
  color: #2d2d2d;
  opacity: 0.9;
  padding: 2px 4px;
  font-size: 12px;
  margin-right: 0px;
}
.codepen .query .float button.danger,
.codepen .result .float button.danger {
  background-color: #f99157;
  color: #cccccc;
}
.codepen .query .float button.positive,
.codepen .result .float button.positive {
  background-color: #6699cc;
  color: #cccccc;
}
.codepen .editor {
  display: table-cell;
  flex: 1;
  margin-left: 14px;
}
.codepen .query {
  margin-right: 20px;
  margin-left: 6px;
}
.codepen .query h2 {
  margin-bottom: 0;
}
.codepen .query .root-id {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  margin: 6px 0;
}
.codepen .query .root-id input {
  background-color: #ccc;
  border-radius: 4px;
  flex: 1;
  width: 120px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  margin: 0 8px;
  padding: 0 4px;
}
.codepen .query .root-id ul.dropdown-menu li a {
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
}
.codepen .result {
  font-size: 12px;
}
.codepen .result .spinner {
  color: #f99157;
  margin-bottom: 4px;
}
.codepen .result .latencycontainer {
  z-index: 1;
  padding: 2px 16px;
  margin-bottom: 2px;
}
.codepen .result .latencycontainer tr.total,
.codepen .result .latencycontainer tr.entities {
  color: #f99157;
}
.codepen .result .latencycontainer td:first-child {
  padding-right: 10px;
}
.codepen .result .latencycontainer td:last-child {
  text-align: right;
}
@media (max-width: 700px) {
  .codepen {
    flex-direction: column;
  }
  .codepen ul.querytabs {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .codepen ul.querytabs li {
    width: auto;
    height: auto;
    text-align: center;
    flex: 1;
    float: left;
    padding: 4px;
  }
  .codepen ul.querytabs li.active {
    border-radius: 6px;
  }
  .codepen .query {
    min-height: 30vh;
    max-height: 30vh;
    margin-right: 6px;
  }
  .codepen .result {
    border-top: 1px dotted #444;
    margin: 2px 6px;
  }
}
.codepen .tabcontainer {
  margin: 0 0 6px -2px;
  border-top: 1px dotted #444;
  border-bottom: 1px solid #999;
  padding-top: 8px;
}
.codepen .resulttab {
  border: 1px solid #777;
  border-bottom: none;
  color: #777;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 2px;
  width: 45px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 2px 1px;
  transition: all 0.1s;
}
.codepen .resulttab.active {
  border-color: #999;
  color: #999;
  border-bottom: 1px solid #2d2d2d;
  margin-bottom: -1px;
}
.codepen .treenode {
  border: 1px solid #999;
  margin-right: 4px;
  color: #ccc;
}
.codepen .treenode .title {
  background-color: #393939;
  color: #fff;
  padding: 0 4px 1px;
  margin-bottom: 1px;
}
.codepen .treenode .value {
  margin-left: 16px;
}
.codepen .treenode .key {
  color: #99cc99;
}
.codepen .treenode .field {
  margin: 0 4px;
  border-bottom: 1px dotted #666;
}
.codepen .treenode .arrayoutline {
  color: #999;
}
.codepen .treenode .arraysummary:hover {
  text-decoration: underline;
}
.codepen .treenode [ng-click] {
  cursor: pointer;
}
.hero-slider.has-parallax .caption .block-content {
  padding-top: 0;
}
.hero-slider.has-parallax .heading-wrapper {
  height: auto;
  min-height: 100vh;
  position: static;
}
.hero-slider.has-parallax .heading-wrapper .inner {
  min-height: 100vh;
}
.hero-slider.has-parallax .caption {
  background-image: url(/assets/img/hero-img-app.jpg);
}
.caption-text h2:last-child {
  margin-bottom: 0;
}
.caption-text h1 {
  font-weight: 300;
}
.caption-text h2 {
  font-weight: 100;
}
.caption-text.bg-dark a:hover {
  color: inherit;
  text-decoration: underline;
}
.main-title {
  display: inline-block;
}
.main-title img {
  width: 90%;
}
@media (max-width: 768px) {
  .main-title img {
    width: 100px;
  }
}
.github-button {
  display: inline-block;
  height: 44px;
  padding-left: 20px;
  width: 200px;
  padding-top: 4px;
}
.buttonrow {
  margin-top: 8px;
  text-align: center;
}
.bg-light .buttonrow a.btn.btn-framed {
  color: #000;
  border-color: #000;
  box-shadow: #000 0px 0px 0px 2px inset;
  margin: 10px 30px;
}
.bg-light .buttonrow a.btn.btn-framed:hover {
  background-color: #eee;
}
.bg-light .buttonrow a.btn.btn-framed i.fa {
  font-size: 2em;
}
.bg-light .buttonrow a.btn.btn-framed img.img-icon {
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
}
#features .buttonrow {
  margin-bottom: 100px;
}
.icon-myspin {
  display: inline-block;
  animation: eightsteps 1s steps(1) infinite;
}
@keyframes eightsteps {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
